/*========================================
=            Molecule Package            =
========================================*/
.package{
	.box{
    width:90%;
    
		margin: auto;
		[class*='icon-']{
			
		}
		.title h1{
			font-size: 10vw;
		}
		.info{
			
		}
		ul{

			li{

				.price{

				}
				a{
        
				}
			}
			.free{

			}
		}
	}
}

.package-info{

	.package-collection{

	}
	.title{

	}
	.detail{

	}
	ul{
		li{
		 	a{

		 	}
		 &:first-child{
			a{

			}
		 }
		}
	}
}

/*======================================
=            Button Log Out            =
======================================*/
.banner{
	.logout{
		
    width: 32%;
    
		a{
			
		}
	}
}



/*==========================================
=            Organism User Info            =
==========================================*/
.user-info{
 
  .scroll-hide{
  
  	.box{
  		img{
  		
  		}
  		

          p{
         
          }
          h1{
          
          }
  	}
    .purchase{
      .table-head{
        font-size: 18px;
        ul{
     
          li{
        
          }
          li:nth-child(n+2){
           
          }
          li:first-child{
           
          }
        }
      }
      .cart_list{
        .cart_list {
            .cart-item {
              padding:1em;
            }
          }
        .mini_cart_item{
          padding: 0 1em;
        	font-size: 18px;
          .quantity,
          .price,
          .name,
          .title{
          	float:left;
          	width: 50%;
          	height: 4em;
          }
          .name{
            text-align: right;
            font-size: 16px;
          }
          .title{
            font-size: 15px;
          }
          
          .quantity{
           
            .chosen-container{
              .chosen-single{
                span{
              
                }
                div b{
              
                }
              }
              &.chosen-with-drop{
                .chosen-single div b{
                }
              }
            }
            .remove{
             background-color: $grey-dark;
             color: #fff !important;
              &:hover{
              
              }
            }
          }
          .subtotal{
          }       
        }
      }
      section{
        .total{
        
          span{
          
          }

          strong{
           font-size: 20px;
          }

          .amount{
          }
        }
        .buttons{
          a{
           width:100%;
          }
        }
      }
    }
  }
}

/*================================================
=            Molecule Contact Detail             =
================================================*/
.contact-detail{
  height: 65vh;
  .box{
    width: 90%;
    h1{
      font-size: 40px;
    }
    ul{
    
      li{
        i{
          font-size: 40px;
        }
        p{
          font-size: 15px;
        }
      }
      
    }
  }
  
}

/*=============================================
=            Molecule Contact Form            =
=============================================*/

.contact-form{
    height: 85vh;

  .box{
    width: 90%;
    
    h1{
      font-size: 40px;

    }
    .form{
      /**** Fix style after connect with WP***/
      ul{
        
        li{
          
        }
        textarea,
        input{
          font-size: 18px;
        }
        textarea{
          
        }
      }
      input[type=submit]{
        
      }
      /**** fix style after connect with WP***/
    }

  }
  
}



/*===========================================
=            Organism Conctac us            =
===========================================*/
.contact{
  height: auto;
  background-position: center;
  padding-bottom: 2em;
}


/*=======================================
=            Layout Checkout            =
=======================================*/
.woocommerce{
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message{
   
  }
  .image-bg{
    
  } 

  .check-form{
    padding: 0 1em;
   
    h1{
      font-size: 40px;
      }
    h2{
      font-size: 25px;
    }

    .woocommerce-shipping-fields,
    .woocommerce-billing-fields{
      
      p label{
        font-size: 18px;

        abbr{
         
        }
      }
      input{
        
        
      }
      .medium{
        .select2-container,
        input{
          width:100% !important;
        }
      }
      .select2-container .select2-choice{
        
      }
      .input-text{
        
      }
      .form-row-first,
      .form-row-last{
        width: 100%;
        input{
          
        }
      }

      [id$="_address_2_field"]{
        
        label{
          
        }
      }
    }
    #order_review{
      
      table.shop_table tfoot td,
      table.shop_table tfoot th,
      table.shop_table td,
      table.shop_table{
     
      }
      
      table.shop_table{
        display:inline-block;
        & *{
          
        }
        .cart-subtotal,
        .shipping{
          
        }
        th{
          
        }
        td:first-child,
        th:first-child{
          
        }
        td:last-child,
        th:last-child{
         
        }
        tbody{
          
        }
        .cart_item{
          padding:1em;
          .product-total,
          .product-name{
            
            span{
             
            }
          }
        }
        .order-total{
          
          th{
           
          }
          td .amount{
            
          }
        }
      }
    }
  }
}

/*=============================================
=            Molecule Home Details            =
=============================================*/

.home-detail{
 
  img{
    
  }
  .box{
    width: 90%;
    img{
     
    }
    p{
      font-size: 18px;
    }
  }
}

/*========================================
=            Molucule Process            =
========================================*/
.process{
  
  
  .box{
    
    .content{
      h1{
        font-size: 40px;
      }
      ul{
        
        li{
          padding: 0 1em;
          i{
            
          }
          span{
          
            b{
             
            }
            p{
              font-size: 18px;
            }
          }
        }
      }
      .description{
       
        p{
          font-size: 18px;
        }
      }
      .btn-basic{
       
      }
    }
  }
}

/*=========================================
=            Molecule Services            =
=========================================*/
.service{
  .image{
   
  }
  .frame{
 
    .box{
     
      .content{
        h1{
          font-size: 40px;
        }
        p{
          font-size: 18px;
        }
        .register{

        }
        .more-info{

        }
      }
    }
  }
}

/*=======================================
=            Organism Header            =
=======================================*/
.header{

  .home-menu{
  
    img{
     right:initial;
     left:20px;
    }
    .banner{ 
      
      button.navbar{
        left: initial;
        right: 20px;
      }
      .box{
        
      }
      .logout{
        
      }
    }
  }
}


.cart_list { 
  .cart_item {
      padding:1em !important;
      border-top:1px solid $grey;
      border-bottom:1px solid $grey;
    margin-bottom: 0 !important;
    position: relative;
    background:#fff;
      .title.visible-xs {
      margin-right: 1em;
      float: left;
      line-height: 2em;
    margin-top: 0em;
    display: inline-block !important;
    clear: left;
    }

    .product-subtotal {
        float: right;
        font-weight: bold;
    }
    .product-price {
      line-height: 1em;
    }
    .product-quantity{
            position: initial !important;
        width: 50%;
        float: left;
    }
    
    input.input-text.qty {
        margin:0em 3em;
    }

    .product-name {
        margin-bottom: 1em;
        clear:both;
    }
    .amount {
      color:$grey-dark;
    }
    .product-remove {
      top: 1em !important;
    right: 1em;
    font-size: 1.3em;
    left: auto !important;
    }
  }
}

 .purchase { 
  min-height: 35px;
  &:before {
    content: "No Products in Cart";
    position: absolute;
    width: 100%;
    text-align: center;
    height: 2em;
    top: 0px;
    left: 0px;
  }
        .cart-collaterals {
          float: right;
          width:100%;
          display: inline-block;
          padding: 1em 0;
          tr.order-total {
          display: block;
          margin: 0 auto;
          float: none;
          width: auto;
      }

      tbody {
          width: 100%;
          display: inline-block;
          float: left;
      }

      table.shop_table.shop_table_responsive {
          width: 100%;
          display: inline-block;
          float: left;
          text-align: center;
      }

    tr.order-total {
        text-align: center;
        width: 100%;
    }
  td {
          display: inline-block;

          }

    .order-total {
    span {
          margin: 0 0 0 1em !important;
        }
     th {
        display: inline-block;
        
        tr { th { td {
        display: inline-block;

        }}}}
    }
  }
}