/*=====================================
=            Molecule Header          =
=====================================*/
.banner{ 
	.box{
		
		
		
		width:545px;
		padding-left: 1.5em;
		padding-top: 20px; 
		.menu-wrap{

			padding-left: 6em;
			ul{
				li{
					display: inline-block;
					
				}

			}
		}
		
	}
	.logout{
		/* position: static; */
	}
}


/*========================================
=            Molecule Package            =
========================================*/
.package{
	.box{

		[class*='icon-']{
			
		}
		.title h1{
			
		}
		.info{
			min-width: 345px;
		}
		ul{

			li{

				.price{

				}
				a{

				}
			}
			.free{

			}
		}
	}
}

.package-info{

	.package-collection{

	}
	.title{

	}
	.detail{

	}
	ul{
		li{
		 	a{

		 	}
		 &:first-child{
			a{

			}
		 }
		}
	}
}

/*================================================
=            Molecule Contact Detail             =
================================================*/
.contact-detail{
	.box{
		width: 90%;

		ul{
		
			li{
				i{
				
				}
				p{
					
				}
			}
			
		}
	}
	
}

