/*========================================
=            Molecule Package            =
========================================*/
.package{
	.box{

		[class*='icon-']{
			
		}
		.title h1{
			
		}
		.info{
			min-width: 311px;
		}
		ul{

			li{

				.price{

				}
				a{

				}
			}
			.free{

			}
		}
	}
}

.package-info{

	.package-collection{

	}
	.title{

	}
	.detail{

	}
	ul{
		li{
		 	a{

		 	}
		 &:first-child{
			a{

			}
		 }
		}
	}
}


/*===========================================
=            Organism Conctac us            =
===========================================*/
.contact{
	height: 200vh;
	
}

/*================================================
=            Molecule Contact Detail             =
================================================*/
.contact-detail{
	.box{
		width: 90%;

		ul{
		
			li{
				i{
				
				}
				p{
					
				}
			}
			
		}
	}
	
}

/*=============================================
=            Molecule Contact Form            =
=============================================*/

.contact-form{


	.box{
		width: 90%;
		
		h1{
			

		}
		.form{
			/**** Fix style after connect with WP***/
			ul{
				
				li{
					
				}
				textarea,
				input{
					
				}
				textarea{
					
				}
			}
			input[type=submit]{
				
			}
			/**** fix style after connect with WP***/
		}

	}
	
}

/*========================================
=            Molucule Process            =
========================================*/
.process{
	height: auto;
	background-size: contain;
  background-position-x: top; 
  background-repeat: no-repeat; 
	padding-top: 30em;
	padding-bottom: 5em;
	background-size: 983px;
  background-position-x: right;
  .box{
		position: static;
		width: 100%;
    margin-left: 0;
    background-color: #fff;
    .content{
 
      ul{
        
        li{
        	float: none;
        	width: 100%;
        	margin-bottom:1em;
        	padding: 0 6em;
          i{
            
          }
          span{
          
            b{
             
            }
            p{
            	
            }
          }
        }
      }
      .description{
        
        p{
          
        }
      }
      .btn-basic{
       
      }
    }
  }
}
.cart_list {
	.cart-item {
		padding:1em;
	}
}

.cart_list { 
  .cart_item {
      padding:1em !important;
      border-top:1px solid $grey;
      border-bottom:1px solid $grey;
    margin-bottom: 0 !important;
    position: relative;
      .title.visible-xs {
      margin-right: 2em;
      float: left;
      line-height: 2em;
    margin-top: 1em;
    display: inline-block !important;
    clear: left;
    }

    .product-subtotal {
        float: right;
        font-weight: bold;
    }

    .product-quantity{
            position: initial !important;
        width: 50%;
        float: left;
    }
    
    input.input-text.qty {
        margin:0em 3em;
    }

    .product-name {
        margin-bottom: 1em;
    }
    .amount {
      color:$grey-dark;
    }
    .product-remove {
      top: 1em !important;
    right: 1em;
    font-size: 1.3em;
    left: auto !important;
    }
  }
}

 .purchase { 
        .cart-collaterals {
          float: right;
          width:100%;
          display: inline-block;
          padding: 1em 0;
          tr.order-total {
          display: block;
          margin: 0 auto;
          float: none;
          width: auto;
      }

      tbody {
          width: 100%;
          display: inline-block;
          float: left;
      }

      table.shop_table.shop_table_responsive {
          width: 100%;
          display: inline-block;
          float: left;
          text-align: center;
      }

    tr.order-total {
        text-align: center;
        width: 100%;
    }
  td {
          display: inline-block;

          }

    .order-total {
    span {
          margin: 0 0 0 1em !important;
        }
     th {
        display: inline-block;
        
        tr { th { td {
        display: inline-block;

        }}}}
    }
  }
}
.cart-collaterals { 
	 .checkout-button {
		text-align: center !important;
		display: block !important;
		margin: 0 auto !important;
		// margin-top: .3em;
		width: 80% !important;
		overflow: hidden;
	 }
}