/*=====================================
=            Molecule Header          =
=====================================*/
.banner{ 
	.box{
		width:93%;
		padding-left: 1.5em;
		padding-top: 20px; 
		.menu-wrap{

			padding-top: 6em;
			ul{
				li{
					display: inline-block;
					
				}

			}
		}
		
	}
	.logout{
		/* position: static; */
	}
}


.cart_list {
	.cart-item {
		padding:1em;
	}
}

.package .box ul li a {
	padding:.5em 0px;
}
.cart-collaterals { 
	 .checkout-button {
		text-align: center !important;
		display: block !important;
		margin: 0 auto !important;
		// margin-top: .3em;
		width: 80% !important;
	 }
}
.purchase {
      input.button.update-cart {
      	float:none !important;
      }
      }