@mixin button($width,$background){
	width: $width;
	padding: .6em 0;
	display: inline-block;
	color: #fff;
	background: $background;
	font-size: $paragraph-size;
	&:hover{
		text-decoration: none;
	}
}

.btn-basic{
	@include button(315px, $blue_bg);
}
.btn-on-grey{
	@include button(315px, $blue_bg);
}