.contact-form{
	background: transparent;
	display: table-cell;
  width: 50%;
 	height: 100vh;
  vertical-align: middle;
  position: relative;

	.box{
		width: 60%;
		margin: auto;
		text-align: center;
		background: 0;
		padding: 3em 0;
		h1{
			margin-bottom: .7em;
			color: #fff;

		}
		.form{
			/**** fix style after connect with WP***/
			ul{
				padding: 0;
				list-style: none;
				li{
					//margin-bottom: 1em;
				}
				textarea,
				input{
					@extend .form-control;
					background: transparent;
					color:#fff;
					border: 2px solid #fff; 
					height: 60px;
					font-size: $paragraph-size;
					text-align: left;
					border-radius: 0;
					&::placeholder{
						color:#fff;
					}
				}
				textarea{
					height: 160px;
				}
			}
			input[type=submit]{
				width:100%;
				background-color:$blue-bg;
				border:0;
				height: 60px;
				font-size: $paragraph-size;
				border: 2px solid #fff;
				border-radius: 0;
				color:#fff;
			}
			/**** fix style after connect with WP***/
		}

	}
	
}