.contact-detail{
	background: transparent;
	display: table-cell;
  width: 50%;
 	height: 100vh;
  vertical-align: middle;
  position: relative;

	.box{
		width: 70%;
		margin: auto;
		text-align: center;
		background: rgba(255,255,255,.7);
		padding: 3em 0;
		ul{
			list-style: none;
			padding: 0;
			li{
				i{
					font-size: 4em;
					color:$blue_bg;
				}
				p{
					font-weight: $Medium;
				}
				a {
					color:$grey-dark;
				}
			}
			
		}
	}
	
}