// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}
input[type=checkbox],
input[type=radio] {
	margin: 0;
	display: inline-block;
    position:relative;
     overflow:hidden;
    height:30px;
    width:30px;
    border:3px solid $grey-dark;
  }
input[type=checkbox]:before,
input[type=radio]:before {
   content:"";
   background: #fff;
   position:absolute;
     overflow:hidden;
     top:0px;
     left:0px;
     height: 100%;
     width:100%;
      color:$grey-dark;
     border:4px solid $grey-dark;
   }
    input[type=checkbox]:checked:before,
    input[type=radio]:checked:before {
    font-family: $font-family;
    content: "X";
    color:$grey-dark;
    font-weight: 900;
    position:absolute;
    height:30px;
    width:30px;
     line-height:25px;
     text-align:center;
    //background:#000;
  }

.simple-page {
  
    // background: transparent;
    // display: table-cell;
    // width: 50%;
    // height: 100vh;
    // vertical-align: middle;
    // position: relative;
  form {
    overflow: hidden;
          textarea,
          input{
            @extend .form-control;
            background: transparent;
            color:$grey-dark;
            border: 3px solid $grey-dark; 
            height: 40px;
            font-size: $paragraph-size;
            text-align: left;
            border-radius: 0;
            width:100% !important;
            &::placeholder{
              color:$grey-dark; 
            }
          }
          textarea{
            height: 160px;
             width:100% !important;
          }
        
        input[type=submit]{
          width: auto !important;
          background-color:$blue-bg;
          border:0;
           height: auto;
          padding:1em 2em;
          font-size:20px !important;
          float:right;
          display:inline-block;
          text-transform: uppercase;
        //font-size: $paragraph-size;
          border: 2px solid #fff;
          border-radius: 0;
          color:#fff;
        }
        /**** fix style after connect with WP***/
          
  }
}
body .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent !important;
    display: inline-block !important;
    border-color: transparent !important;
    margin: 0px;
    padding: 0px !important;
    margin-bottom: 0px !important;
    margin-top:0px !important;
}
body .gform_wrapper .gfield_description+.gform_wrapper .gfield_description.validation_message, .gform_wrapper .ginput_container+.gfield_description.validation_message {
    margin-bottom: 0px !important;
    margin-top:0px !important;
     padding-bottom: 0px !important;
      padding-top: 0px !important;
      color:$pink;
      //text-shadow: 0px 0px 5px #3E0B22;
}
body .gform_wrapper li.gfield_error input[type=email], .gform_wrapper li.gfield_error input[type=number], .gform_wrapper li.gfield_error input[type=password], .gform_wrapper li.gfield_error input[type=tel], .gform_wrapper li.gfield_error input[type=text], .gform_wrapper li.gfield_error input[type=url], .gform_wrapper li.gfield_error textarea {
  border:3px solid $pink !important;
}
body .validation_error {
  display:none !important;
}