.home-detail{
	background: $blue_bg;
	height:auto;
  position: relative;
  padding-top: 5em;
  text-align: center;
	padding-bottom: 4em;
  img{
  	display: none;
  }
  .box{
  	text-align: center;
  	width: 80%;
    margin: auto;
		img{
			margin-bottom: 1em;
		}
		p{
			color:#fff;
		}
    a{
      text-transform: uppercase;
    }
  }
}