.frame{
	height: auto;
	width: 100vw;
	background-size: cover;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding: 11em 0;
	.box{
		width:360px;
		margin:auto;
		
		.nav-tabs{
			border:0;
			li{
				border:0;
				a{
				font-weight: $Heavy;	
				text-transform: uppercase;
				background: transparent;
				color:#fff;
				border-top: 0;
				border-left: 0;
				border-right: 0;
				border-bottom: 2px solid #fff;
				font-size: 28px;
				border-radius:0;
				}
				&.active a{
					color:$blue-bg;
					border-bottom: 0;
					border-top: 2px solid #fff;
					border-left: 2px solid #fff;
					border-right: 2px solid #fff;
				}
			}	
		}

		.info{
			font-weight: $SemiBold;
			font-size: 14px;
			padding: 1em 0;
		}
		.tab-content{
			border-top: 0;
			border-left: 2px;
			border-bottom: 2px;
			border-right: 2px;
			border-style: solid;
			border-color: #fff;
			color:#fff;
			padding: 0 1em;
			/**** fix style after connect with WP***/
			ul{
				padding: 0;
				list-style: none;
				input{
					@extend .form-control;
					background: transparent;
					color:#fff;
					border: 2px solid #fff; 
					height: 60px;
					font-size: $paragraph-size;
					text-align: center;
				}
			}
			input[type=submit]{
				width:100%;
				background-color:$blue-bg;
				border:0;
				height: 60px;
				font-size: $paragraph-size;
				border: 2px solid #fff;
			}
			/**** fix style after connect with WP***/
		}
		.download{
			
			color:#fff;
			text-align: center;
			.info{
				width: 60%;
				display: inline-block;
			}
			i{
				font-size: 3em;
				margin-left: .2em;
			}
		}

	}
	

}