.package{
	/* background:$pink; */
	color:#fff;
	height: 480px;
	display: flex;
    align-items: center;
	padding: 0 2%;
	
	.box{
		margin: auto;
		min-width:85%;
		[class*='icon-']{
			font-size: 4em;
		}
		.title h1{
			margin:0;
			line-height:1;
			color:inherit;
			font-size: 3.13vw;
		}
		.info{
			color:inherit;
			font-weight: $SemiBold;
			line-height: 1.5;
		}
		ul{
			list-style: none;
			padding: 0;
			li{
				display:inline-block;
				width: 40%;
				.price{
					font-size: 30px;
					line-height: 2;
				}
				a{
					width: 100%;
					color:inherit;
					font-size: $paragraph-size;
					text-transform: uppercase;
					font-weight: $Heavy;
					display: inline-block;
					border: 3px solid;
			    padding: .5em 0px;
				}
			}
			.free{
				width: auto;
			}
		}
	}
	.added_to_cart.wc-forward {
		display:none;
	}
}

.package-info{
	padding: 5%;
	color:#fff;
	.package-collection{
	    height: auto;
	    margin-bottom: 4em;
	    display: inline-block;
	    width: 100%;
	}
	.title{
		font-weight: $Heavy;
		color:inherit;
		margin-bottom: 3em;
	}
	.detail{
		color:inherit;
	}
	ul{
		list-style: none;
		padding: 0;
		li{
			margin:auto;
		 	a{
				color:inherit;
				text-transform: uppercase;
				display: inline-block;
		 		
		 	}
		 
		 &:first-child{
		 	width: 160px;
			a{
				width: 100%;
				font-size: $paragraph-size;
				font-weight: $Heavy;
				border: 3px solid;
			  padding: .5em 0;
			  margin-bottom: 2em;
			}
		 }
		}
	}
}

.pink{
	background-color: $pink;
}

.blue{
	background-color: $blue;
}

.grey{
	background-color: $grey;
		color: $grey-dark;
		ul li a{
			border-color:$grey-dark;
		} 
}

.grey-dark{
	background-color: $grey-dark;
		color: $grey;
		ul li a{
			border-color:$grey;
		}
}

.package-img{
	height: 240px;
	position:relative;
	i {
		line-height: 240px;
	}
	overflow:hidden;
}
.pack-1-frames{
	i { font-size:10vw;}
	i.pack-class { font-size:14vw;}
	i.pack-3-5x5s { font-size:9vw}
	i.pack-misc { font-size:9em; opacity:0.7;} 
	// i.pack-misc + div { bottom:3.3em;}  
	div { position:absolute; bottom:0.5em; width:100%;}
}
.pack-2-frames{
	i { font-size:10vw;}
	i.pack-3-5x5s { font-size:9vw}

	div { position:absolute; bottom:0.5em; width:100%;}
}
.pack-3-frames{
	i { font-size:7vw;}
	i.pack-3-5x5s { font-size:6vw}

	div { position:absolute; bottom:0.5em; width:100%;}
}
.pack-4-frames{
	i { font-size:5vw;}
	i.pack-3-5x5s { font-size:4vw}

	div { position:absolute; bottom:0.5em; width:100%;}
}
.pack-5-frames {}

[class*="pack-"]{
	// height: 200px;	
	// display:block;
 //  position: relative;
 //  &:before{
 //    margin: auto;
 //    position: absolute;
 //    left: 0;
 //    right: 0;
 //  }
}

.pack-bookmarks{
	// font-size: 13em;
}
.pack-class{
	// font-size: 20em;
  // top: -41px;
}
.pack-combination{
	// font-size: 21em;
  // top: -34px;
}

	.section-title {
		    padding: 0.36em 0.2em;
		    display: inline-block;
		    overflow: hidden;
		    width: 100%;
		    color:$grey-dark;
		    text-align: center;
}

// WORDPRESS FUNCTIONAL CLASSES

.three-5x7s:before { @extend .pack-3-frames.inches5x7; }
.two-3.5x5s:before { }
.two-wallet:before { }
.5-mini-wallet:before { }
.class:before { }
.pendant-key-rings:before { }
.bookmarks:before { }
