@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Bold.eot');
	src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Bold.woff') format('woff'),
		url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Thin.eot');
	src: url('../fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Thin.woff') format('woff'),
		url('../fonts/RobotoSlab-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Light.eot');
	src: url('../fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Light.woff') format('woff'),
		url('../fonts/RobotoSlab-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Regular.eot');
	src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Regular.woff') format('woff'),
		url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic';
	src: url('../fonts/KlavikaBasic-Light.eot');
	src: url('../fonts/KlavikaBasic-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Light.woff') format('woff'),
		url('../fonts/KlavikaBasic-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic';
	src: url('../fonts/KlavikaBasic-Medium.eot');
	src: url('../fonts/KlavikaBasic-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Medium.woff') format('woff'),
		url('../fonts/KlavikaBasic-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic Bold';
	src: url('../fonts/KlavikaBasic-BoldItalic.eot');
	src: url('../fonts/KlavikaBasic-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-BoldItalic.woff') format('woff'),
		url('../fonts/KlavikaBasic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic Medium';
	src: url('../fonts/KlavikaBasic-MediumItalic.eot');
	src: url('../fonts/KlavikaBasic-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-MediumItalic.woff') format('woff'),
		url('../fonts/KlavikaBasic-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic';
	src: url('../fonts/KlavikaBasic-Bold.eot');
	src: url('../fonts/KlavikaBasic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Bold.woff') format('woff'),
		url('../fonts/KlavikaBasic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic Regular';
	src: url('../fonts/KlavikaBasic-RegularItalic.eot');
	src: url('../fonts/KlavikaBasic-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-RegularItalic.woff') format('woff'),
		url('../fonts/KlavikaBasic-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic Light';
	src: url('../fonts/KlavikaBasic-Light.eot');
	src: url('../fonts/KlavikaBasic-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Light.woff') format('woff'),
		url('../fonts/KlavikaBasic-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic';
	src: url('../fonts/KlavikaBasic-Regular.eot');
	src: url('../fonts/KlavikaBasic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Regular.woff') format('woff'),
		url('../fonts/KlavikaBasic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}