/*===================================
=            Font-Family            =
===================================*/
body{
	font-family: $font-family;
}


/*===================================
=            Font-Weight            =
===================================*/
h1,
.button,
.menu li{
	font-weight: $Heavy;
}

p{
	font-weight: $Medium;
}

input{
	font-weight: $SemiBold;
}

.process p, .process li{
	font-weight: $Regular;
}

/*=================================
=            Font-Size            =
=================================*/

h1{
	font-size: $title-size;
	text-transform: uppercase;
	color:$title-color;
}

p{
	font-size: $paragraph-size;
	line-height: $line-height;
	color:$font-color;
}

