/*=============================
=            Fonts            =
=============================*/
$icon-font-path:        "./fonts/";
$font-family:						"Raleway";
/* Sizes */
$title-size:						60px;
$paragraph-size:				24px;
$line-height: 					2;
/* Weights */
$Thin:									100;
$ExtraLight:						200;
$Light:									300;
$Regular:								400;
$Medium:								500;
$SemiBold:							600;
$Bold:									700;
$ExtraBold:							800;
$Heavy:									900;

/*=====================================
=            Grid Settings            =
=====================================*/
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-gutter-width: 0px;

/*==============================
=            Colour            =
==============================*/
$blue-bg:       #22adc2;
$grey-bg:				#ebebeb;
$font-color: 		#736f66;
$title-color:		#000;
$link-color:		#f35c9f;