/*=============================
=            Fonts            =
=============================*/
$icon-font-path:        "./fonts/";
$font-family:						"Raleway";
/* Sizes */
$title-size:						60px;
$paragraph-size:				24px;
$line-height: 					2;
/* Weights */
$Thin:									100;
$ExtraLight:						200;
$Light:									300;
$Regular:								400;
$Medium:								500;
$SemiBold:							600;
$Bold:									700;
$ExtraBold:							800;
$Heavy:									900;

/*=====================================
=            Grid Settings            =
=====================================*/
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-gutter-width: 0px;

/*==============================
=            Colour            =
==============================*/
$blue: 					#22adc2;
$blue-light:		#4ebdce;
$grey:					#ebebeb;
$grey-dark:			#736f66;
$pink:					#f35c9f;

$blue-bg:       $blue;
$grey-bg:				$grey;
$font-color: 		$grey-dark;
$title-color:		#000;
$link-color:		$pink;