.header{
	height:auto;
	background-color: $blue;
	display:inline-block;
	/* div{
		height:100%;
	} */
	.home-menu{
		position:absolute;
		z-index: 1;
		img{
			position: absolute;
	    right: 0;
	    z-index: 2;
	    height: 69px;
	    width: auto;
	    top: 17px;
	    right: 20px;
		}
		.banner{ 
			padding: 0;
			height: 96px;
			button.navbar{
				top: 40px;
    			left: 40px;
			}
			.box{
				    width: auto;
				   	top: 20px;
    				left: 0px;
			}
			.logout{
				display: none;
			}
		}
	}
}
.full-width-header {
	button.navbar{
				top: 40px !important;
   				 left: 40px !important;
			}
}