.user-info{
  
  .scroll-hide{
   
  	.box{
  		img{
  			margin-bottom:2.5em;
  		}
  		padding-top: 6em;
          text-align: center;

          p{
          	font-size: 20px;
          	margin-bottom: 0;
          	line-height: 1.5;
          }
          h1{
          	font-size:45px;
            color:$grey-dark;
          }
          h1.student-name {
            font-size:60px;
          margin: 0.1em 0 1em 0;
        }
  	}
.purchase {
      input.button.update-cart {
        @extend .btn-basic;
        margin: 1em auto;
        float: right;
        display: block;
        width: 330px;
        border-radius:0px;
    }
    .cart_item {
      margin: 0em 0 2em 0;
      .product-name {
        a {
          font-size:20px;
          font-weight:$Heavy;
          text-transform: uppercase;
        }

      }
      .amount {
          font-size:20px;
          text-align: center;
          margin: 0 0em 0 1em;
        }
        .product-quantity {
          position:relative;
        }
        .product-remove {
              position: absolute;
              left: -0.9em;
              top: 25px;
          a {
            display: block;
            font-weight: 900;
            line-height: 2.95;
            /* background: #F44336; */
            text-align: center;
            color: #F44336!important;
            height: auto;
            font-size: 0.7em;
            width: auto;
            &:hover {
              background:transparent;
              color:$pink !important;


            }
          }
        }
    }
    .woocommerce .woocommerce-message {
      display:none !important;
    }
    .cart-collaterals {
      float:right;
      display:inline-block;
      padding:1em 0em;
      .checkout-button {
        @extend .btn-basic;
        text-align: center;
        display:inline-block;
        margin-top: 0.3em;
        width:100%;
      }
      .order-total {
        margin-top: 1.3em;
        width:100%;
        font-size:40px;
         text-transform: uppercase;
          font-weight: $Heavy;
          color:$grey-dark;
        th {
             font-weight: $Heavy;
             font-size:35px;
          }
        span {
          margin: 0.5em 0.5em 0.5em 2.5em;
          font-size:30px;
        font-weight: $Heavy;
        float:right;
        }
      }
      h2,.cart-subtotal,.shipping {
        display: none;
      }
    }
}

    .purchase{
      .table-head{
        display: inline-block;
        width:100%;
        border-bottom: 3px solid $grey; 
        padding-bottom: 1em;
        margin-bottom:1em;
        font-size: $paragraph-size;
        ul{
          list-style: none;
          padding: 0;
          li{
            display:inline-block;
            float:left;
          }
          li:nth-child(n+2){
            width: 20%;
            text-align: center;
          }
          li:first-child{
            width: 40%;
            text-align: left;
          }
        }
      }
      .cart_list{
        border-bottom: 3px solid $grey; 
        .mini_cart_item{
          padding-left: 0;
          font-size: $paragraph-size; 
          margin-bottom: 1em;      
          .name{
            width:40%;
            display: inline-block;
            font-weight: $Heavy;
          }
          .price{
            width:20%;
            display:inline-block;
            text-align: center;
          } 
          .quantity{
            width:20%;
            display: inline-block;
            text-align: center;
            .chosen-container{
              margin-right: .5em;
              .chosen-single{
                span{
                  font-size: 20px;
                  font-weight: $Medium;
                }
                div b{
                  @extend [class*='icon-'];
                  @extend .icon-down;
                  padding-right: 5px;
                  font-size: 12px;
                }
              }
              &.chosen-with-drop{
                .chosen-single div b{
                  @extend .icon-up;
                }
              }
            }
            .remove{
              position: static;
              display: inline-block;
              color: $grey-dark !important; 
              height: 1.2em;
              width: 1.2em;
              line-height: 1.1;
              font-size: 1em;
              font-weight: 500;
              &:hover{
                color:#fff !important;
                background-color: $grey-dark;
              }
            }
          }
          .subtotal{
            width:20%;
          }       
        }
      }
      section{
        .total{
          border-top: 0px;
          margin-top: 1em; 
          padding-top: 1em;
          text-align: left;
          span{
            width:50%;
            text-align: right;
          }

          strong{
            width: 50%;
            float: left;
            top: 15px;
            position: relative;
          }

          .amount{
            font-size: 36px;
          }
        }
        .buttons{
          text-align: right;
          a{
            background-color: $blue;
            width: 50%;
            text-align: center;
            color: #fff;
            border-radius: 0;
          }
        }
      }
    }
  }
}

.simple-page.services {
    @extend .user-info;
  .scroll-hide { 
    .box { 
      padding-top: 0px;
      text-align: left;
        h1 {
          color:$blue;
          font-size:60px;
          margin-top: 0px;
        } 
    } 
  }
}
