@mixin button($width,$background){
	width: $width;
	padding: .6em 0;
	display: inline-block;
	color: #fff;
	background: $background;
	font-size: $paragraph-size;
	text-transform: uppercase;
	font-weight: $Heavy;
	&:hover{
		text-decoration: none;
	}
}

.btn-basic{
	@include button(315px, $blue_bg);
	&:hover {
		background-color:$pink;
		color:#FFF;

	}
}
.btn-on-grey{
	@include button(315px, $blue_bg);
}

